body {
    background-color: #23272b;
    font-family: sans-serif;
    color: white;
}

/*override bootstrap*/
.form-control {
    background-color: #545b62!important;
    color: white!important;
}

.placeholder-custom {
    color: #545b62!important;
}

.nav-top {
    background-color: black;
}

.nav-top ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
    margin-right: 50px;
}

.nav-top li {
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.nav-top .logo {
    float: left;
    padding: 7px;
    margin-left: 10px;
}

.nav-top li:HOVER {
    background-color: #343a40;
}

.nav-top a {
    text-decoration: none;
    color: white;
    font-size: small;
}

.nav-custom {
    background-color: black;
    height: 100%;
    position: fixed;
    z-index: 9999;
    width: 14.7%;
}

/*.nav-custom .logo-custom {
    float: left;
    padding: 7px;
    margin-left: 10px;
}*/

.nav-custom ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-custom li {
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px 20px 10px 10px;
    cursor: pointer;
    text-align: center;
    /*border-radius: 10px;*/
    transition: background-color 0.4s;
    border-bottom: 1px solid white;
}

.nav-custom li:last-child {
    /*margin-left: 250px;*/
    border-bottom: none;
}

.nav-custom li:HOVER {
    background-color: #343a40;
}

.nav-custom a {
    text-decoration: none;
    color: white;
    font-size: small;
}

.sticky-top {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.sticky-custom {
    margin-top: 54px;
}

.content-wrapper {
    background-color: #343a40;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
}

.content-title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.content-footer {
    margin-top: 40px;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: center;
}

.content-wrapper-login {
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 200px;
    padding: 20px;
    background-color: #343a40;
}

.content-wrapper-login .title {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.login-button {
    width: 100%;
    color:#6c757d;
    background-color: #343a40;
    border: 1px solid #5a6268;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    transition: background-color 0.4s, color 0.4s;
}

.login-button:HOVER {
    background-color: #6c757d;
    color: white;
}

.files-box {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #6c757d;
    padding-top: 7px;
    padding-left: 10px;
}

.example-box {
    width: 100%;
    border-radius: 10px;
    background-color: #6c757d;
    padding: 15px;
    min-height: 40px;
}

.alert-custom {
    height: 70px;
    margin-bottom: 10px;
}