@header-admin;
@include.(navigationWeb)
<div class="container">
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="alert-custom">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @session.success?
                        <div class="alert alert-success">
                            @session.(success)
                        </div>
                        @session?
                        @session.error?
                        <div class="alert alert-danger">
                            @session.(error)
                        </div>
                        @session?
                    </div>
                </div>
            </div>
            <form id="email-send-form" action="{base_url}views/auth/passwordnewemail.php" method="post">
                <div class="form-group">
                    {procedure_description}
                </div>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="email">
                </div>
                <div class="form-group content-footer" id="button-div">
                    <input type="submit" class="login-button" value="Send">
                </div>
                <div class="form-group content-footer" id="sending-div" style="display: none">
                    <img src="{base_url}resources/images/loading-dots.svg" width="100" height="50">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const emailForm = document.getElementById("email-send-form");
    const buttonDiv = document.getElementById("button-div");
    const sendingDiv = document.getElementById("sending-div");
    emailForm.addEventListener("submit", () => onEmailFormSubmit(event));

    function onEmailFormSubmit(event) {
        event.preventDefault();
        buttonDiv.style.display = "none";
        sendingDiv.style.display = "block";
        event.target.submit();
    }
</script>
@footer;