@header-admin;
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 offset-md-3 offset-sm-1">
            <div class="content-wrapper-login">
                <div class="title">
                    Register
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @session.success?
                        <div class="alert alert-success">
                            @session.(success)
                        </div>
                        @session?
                        @session.error?
                        <div class="alert alert-danger">
                            @session.(error)
                        </div>
                        @session?
                    </div>
                </div>
                <form action="{base_url}views/auth/doregister.php" method="post">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="email (required)" value="@old.(email)">
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="username (required)" value="@old.(username)">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" id="pswd" placeholder="password (required)" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="generate-password" onclick="generatePassword()">Generate</button>
                            <div id="show">
                                <button class="btn btn-outline-secondary" type="button" id="show-password">Show</button>
                            </div>
                            <div id="hide" style="display: none;">
                                <button class="btn btn-outline-secondary" type="button" id="hide-password">Hide</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password-confirm" id="pswd-confirm" class="form-control" placeholder="confirm password (required)" autocomplete="off">
                    </div>
                    <div class="form-group content-footer" style="text-align: left">
                        <p>If you are robot, it's ok, we are just trying to make sure you dont want to take over the wor(l)ds.</p>
                        <p>Please enter to field below: {captcha}</p>
                    </div>
                    <div class="form-group">
                        <input type="text" name="captcha" class="form-control" placeholder="captcha">
                    </div>
                    <div class="form-group content-footer">
                        Already have account? Go to login page <a href="{base_url}views/auth/login.php">here</a>
                    </div>
                    <div class="form-group content-footer">
                        <p><input type="submit" class="login-button" value="Register"></p>
                        <p><button type="button" class="login-button" onclick="location.href = '{base_url}views/documentation.php'">Home</button></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/password.js"></script>
<script>
    const pswd = document.getElementById("pswd");
    const confirmPassword = document.getElementById("pswd-confirm");
    const showButton = document.getElementById("show-password");
    const showDiv = document.getElementById("show");
    const hideButton = document.getElementById("hide-password");
    const hideDiv = document.getElementById("hide");

    showButton.addEventListener("click", () => passwordShow());
    hideButton.addEventListener("click", () => passwordHide());

    function passwordShow() {
        pswd.type = "text";
        confirmPassword.type = "text";
        showDiv.style.display = "none";
        hideDiv.style.display = "block";
    }

    function passwordHide() {
        pswd.type = "password";
        confirmPassword.type = "password";
        showDiv.style.display = "block";
        hideDiv.style.display = "none";
    }
</script>
@footer;