@header-auth;
<div class="container">
    <div class="login-box">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 offset-md-3 offset-sm-1">
                <div class="content-wrapper-login">
                    <div class="title">
                        Register
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            @session.success?
                            <div class="alert alert-success">
                                @session.(success)
                            </div>
                            @session?
                            @session.error?
                            <div class="alert alert-danger">
                                @session.(error)
                            </div>
                            @session?
                        </div>
                    </div>
                    <form action="{base_url}views/auth/doregister.php" method="post">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="email (required)" value="@old.(email)">
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="username (required)" value="@old.(username)">
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="password" id="pswd" placeholder="password (required)" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="generate-password" onclick="generatePassword()">Generate</button>
                                <div id="show">
                                    <button class="btn btn-outline-secondary" type="button" onclick="passwordShow()">Show</button>
                                </div>
                                <div id="hide" style="display: none;">
                                    <button class="btn btn-outline-secondary" type="button" onclick="passwordHide()">Hide</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password-confirm" id="pswd-confirm" class="form-control" placeholder="confirm password (required)" autocomplete="off">
                        </div>
                        @include.(captcha)
                        <div class="form-group content-footer">
                            Already have account? Go to login page <a href="{base_url}views/auth/login.php">here</a>
                        </div>
                        <div class="form-group content-footer">
                            <p><input type="submit" class="login-button" value="Register"></p>
                            <p><button type="button" class="login-button" onclick="location.href = '{base_url}views/documentation.php'">Home</button></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/password.js"></script>