@header-admin;
@include.(navigationWeb)
<div class="container">
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <input type="hidden" id="status" value="{status}">
            <div id="message-div" style="display: none">
                <p>{message}</p>
            </div>
            <div id="form-div">
                <div class="content-title">Reset password</div>
                <div class="alert-custom">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            @session.success?
                            <div class="alert alert-success">
                                @session.(success)
                            </div>
                            @session?
                            @session.error?
                            <div class="alert alert-danger">
                                @session.(error)
                            </div>
                            @session?
                        </div>
                    </div>
                </div>
                <form id="reset-form" action="{base_url}views/auth/doresetpassword.php" method="post">
                    <input type="hidden" name="token">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="email (required)" value="{email}">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password-new" id="pswd" placeholder="new password (required)" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="generate-password" onclick="generatePassword()">Generate</button>
                            <div id="show">
                                <button class="btn btn-outline-secondary" type="button" onclick="passwordShow()">Show</button>
                            </div>
                            <div id="hide" style="display: none;">
                                <button class="btn btn-outline-secondary" type="button" onclick="passwordHide()">Hide</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" id="pswd-confirm" name="password-confirm" class="form-control" placeholder="confirm new password (required)">
                    </div>
                    @include.(captcha)
                    <div class="form-group content-footer">
                        <input type="submit" class="login-button" value="Reset password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/password.js"></script>
<script>
    const messageDiv = document.getElementById("message-div");
    const formDiv = document.getElementById("form-div");
    const status = document.getElementById("status");
    const resetForm = document.getElementById("reset-form");
    //const token = document.getElementById("token");

    window.addEventListener("load", () => chooseDiv());
    resetForm.addEventListener("submit", () => resetFormOnSubmit(event));

    function chooseDiv() {
        if(parseInt(status.value) === 1) {
            messageDiv.style.display = "block";
            formDiv.style.display = "none";
        }
    }

    function resetFormOnSubmit(event) {
        event.preventDefault();
        event.target.token.value = location.search.replace("?", "").split("&")[0].split("=")[1];
        event.target.submit();
    }
</script>
@footer;