@header;
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        @include.(navigationWeb)
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-10 col-lg-10 col-sm-10">
                <div class="content-wrapper">
                    <div class="form-group">
                        <p>{message}</p>
                    </div>
                    <div class="form-group content-footer">
                        <img src="{base_url}resources/images/loading-dots.svg" width="100" height="50">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener("load", () => redirectOnSuccess());

    function redirectOnSuccess() {
        setTimeout(() => {
            const http = getHttpParams();
            window.location.href = http.protocol + "//" + http.host + "/views/auth/login.php";
        }, 5000);
    }
</script>
@footer;