@header;
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        @include.(navigationWeb)
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10">
        <div class="row" style="margin-top: 50px;">
            <div class="cols-md-10 col-lg-10 col-sm-10">
                <div class="content-wrapper">
                    <div class="form-group">
                        <div style="height: 50px;">
                            <div id="alert-verify" class="notification" style="display: none">
                                <div id="notification-verify"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="example-box">
                            <p>We sent you a email to verify you email address. Please follow instructions there.</p>
                        </div>
                    </div>
                    <div class="form-group content-footer" id="resend-email-div">
                        <button type="button" class="btn btn-outline-secondary" onclick="resendEmail()">Resend Email</button>
                    </div>
                    <div class="form-group content-footer" id="loading-div" style="display: none">
                        <img src="{base_url}resources/images/loading-dots.svg" width="100", height="50">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/resendEmail.js"></script>
@footer;