@header-admin;
@include.(navigationWeb)
<div class="container">
    <div class="row content-wrapper">
        <div class="cols-md-12 col-lg-12 col-sm-12">
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-verify" class="notification" style="display: none">
                        <div id="notification-verify"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="example-box">
                    <p>We sent you a email to verify you email address. Please follow instructions there.</p>
                </div>
            </div>
            <div class="form-group content-footer">
                <button type="button" class="btn btn-outline-secondary" onclick="resendEmail()">Resend Email</button>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/resendEmail.js"></script>
@footer;