@header-admin;
<div class="container">
    <div class="nav-custom">
        @include.(navigation)
    </div>
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="content-title">Add new Language</div>
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-add" class="notification" style="display: none">
                        <div id="notification-add"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="tag" class="form-control" placeholder="tag">
            </div>
            <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
                <select class="form-control" id="filters-add" multiple>
                    <option value="" disabled selected>Select word filters</option>
                    @foreach.(available_filters)
                        <option value="@value">@value</option>
                    @endforeach
                </select>
            </div>
            <div class="form-group content-footer">
                <button type="button" class="login-button" id="add-button">Add Language</button>
            </div>
        </div>
    </div>
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="content-title">Remove Language</div>
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-remove" class="notification" style="display: none">
                        <div id="notification-remove"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" id="language-remove">
                    <option value="" disabled selected>Select language to remove</option>
                    @foreach.(languages)
                        <option value="@value.(tag)">@value.(name)</option>
                    @endforeach
                </select>
            </div>
            <div class="form-group content-footer">
                <button type="button" class="login-button" id="remove-button">Remove Language</button>
            </div>
        </div>
    </div>
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="content-title">Update Language</div>
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-update" class="notification" style="display: none">
                        <div id="notification-update"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select id="tag-update" class="form-control">
                    <option value="" disabled selected>Select language to update</option>
                    @foreach.(languages)
                        <option value="@value.(tag)">@value.(tag)</option>
                    @endforeach
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name-update" placeholder="New name">
            </div>
            <div class="form-group">
                <select id="filters-update" class="form-control" multiple>
                    <option value="" disabled>Update filters</option>
                </select>
            </div>
            <div class="form-group content-footer">
                <button type="button" class="login-button" id="update-button">Update Language</button>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/language.js"></script>
<script src="{base_url}js/utilities.js"></script>
<script src="{base_url}js/ajax.js"></script>
@footer-admin;