@header;
<div class="container">
    <div class="nav-custom">
        <ul>
            <li><a href="{base_url}views/adm/home.php">Home</a></li>
            <li><a href="{base_url}views/adm/insert.php">Add Words</a></li>
            <li><a href="{base_url}views/adm/modify.php">Update/Remove Words</a></li>
            <li><a href="{base_url}views/adm/addAdmin.php">Add Admin Account</a></li>
        </ul>
    </div>
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-single" class="notification" style="display: none">
                        <div id="notification-single"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select id="language" class="form-control">
                    <option value="" disabled selected>Select language</option>
                    @foreach.(languages)
                    <option value="@value.(tag)">@value.(name)</option>
                    @endforeach
                </select>
            </div>
            <div class="form-group">
                <select id="length" class="form-control">
                    <option value="" disabled selected>Select word length</option>
                </select>
            </div>
            <div class="form-group">
                <select id="words" class="form-control" multiple>
                    <option value="" disabled>Select words</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-outline-secondary" id="single-button">Remove</button>
            </div>
        </div>
    </div>
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-multi" class="notification" style="display: none">
                        <div id="notification-multi"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea cols="20" rows="10" class="form-control" id="words-bulk" placeholder="Remove from bulk"></textarea>
            </div>
            <div class="form-group">
                <textarea cols="20" rows="10" class="form-control" id="words-json" placeholder="Remove from JSON"></textarea>
            </div>
            <div class="form-group">
                <input type="file" id="csv-words" id="words-csv" style="display: none">
                <div class="files-box" id="csv-word-files"></div>
                <button type="button" class="btn btn-outline-secondary" id="csv-words-button">Remove from csv</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-outline-secondary" id="multiple-button">Remove</button>
            </div>
        </div>
    </div>
    <div class="row content-wrapper">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group">
                <div style="height: 50px;">
                    <div id="alert-remove" class="notification" style="display: none">
                        <div id="notification-remove"></div>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <select id="remove-language" class="form-control">
                    <option value="" disabled selected>Select language</option>
                    @foreach.(languages)
                    <option value="@value.(tag)">@value.(name)</option>
                    @endforeach
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="language-remove-button" type="button">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const languageSelect = document.getElementById("language");
    const lengthSelect = document.getElementById("length");
    const wordsSelect = document.getElementById("words");
    const singleButton = document.getElementById("single-button");

    languageSelect.addEventListener("change", () => loadAvailableWordLengthsForLanguage(event));
    lengthSelect.addEventListener("change", () => loadAvailableWordsForLength(event))
    singleButton.addEventListener("click", () => sendSingleRemove())

    function sendSingleRemove() {
        if(languageSelect.value === "") {
            addNotification("error", "Language must be selected", "single")
        } else if(lengthSelect.value === "") {
            addNotification("error", "Length must be selected", "single")
        } else if(wordsSelect.value === "") {
            addNotification("error", "No words selected", "single")
        } else {
            const wordsToRemove = [];
            for(let i = 0; i < wordsSelect.options.length; i++) {
                if(wordsSelect.options[i].selected) {
                    wordsToRemove.push(wordsSelect.options[i].value)
                }
            }
            console.log(wordsToRemove);

            const formData = new FormData();
            formData.append("language", languageSelect.value);
            formData.append("words", JSON.stringify(wordsToRemove));

            postAjax('/views/adm/removesingle.php', formData, singleRemoved)
        }

    }

    function singleRemoved(data) {
        let key;
        if(data.error === 1) {
            key = "error";
        } else {
            key = "success"
        }
        addNotification(key, data.message, "single");
    }

    function postAjax(endpoint, data, callback) {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                //console.log(this.responseText);
                callback(JSON.parse(this.responseText));
            }
        };

        const http = getHttpParams();
        xhttp.open("POST", http.protocol + "//" + http.host + endpoint, true);
        //xhttp.setRequestHeader("Content-type","multipart/form-data");
        xhttp.send(data);
    }

    function loadAvailableWordLengthsForLanguage(event) {
        const element = event.target;
        if(element.value === "") {
            addNotification("error", "Language not selected", "single")
        } else {
            getAjax("/views/adm/ajaxlengths.php?language=" + element.value, addWordLengths)
        }
    }

    function loadAvailableWordsForLength(event) {
        const element = event.target;
        if(element.value === "") {
            addNotification("error", "Length not selected", "single")
        } else {
            getAjax("/views/adm/ajaxwords.php?length=" + element.value + "&language=" + languageSelect.value, addWords)
        }
    }

    function getAjax(endpoint, callback) {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                callback(JSON.parse(this.responseText));
            }
        };

        const http = getHttpParams();
        xhttp.open("GET", http.protocol + "//" + http.host + endpoint, true);
        xhttp.send();
    }

    function addWordLengths(data) {
        resetOptionsAndPreserveFirstChild(lengthSelect)
        for(let i = 0; i < data.lengths.length; i++) {
            createOptionElement(data.lengths[i].length, data.lengths[i].length, lengthSelect)
        }
    }

    function addWords(data) {
        resetOptionsAndPreserveFirstChild(wordsSelect)
        for(let i = 0; i < data.words.length; i++) {
            createOptionElement(data.words[i], data.words[i], wordsSelect)
        }
    }

    function resetOptionsAndPreserveFirstChild(selectObject) {
        let child;
        for(let i = 0; i < selectObject.childNodes.length; i++) {
            if(selectObject.childNodes[i].nodeType !== Node.TEXT_NODE) {
                child = selectObject.childNodes[i];
                child.selected = true;
                break;
            }
        }
        selectObject.innerHTML = "";
        selectObject.appendChild(child);
    }

    function createOptionElement(value, text, object) {
        const option = document.createElement("option");
        option.setAttribute("value", value);
        const textNode = document.createTextNode(text);
        option.appendChild(textNode);
        object.appendChild(option);
    }

    function getHttpParams() {
        return {
            "host": window.location.hostname,
            "protocol": window.location.protocol
        }
    }

    function addNotification(type, text, target) {
        const notification = document.getElementById("notification-" + target);
        const alert = document.getElementById("alert-" + target);
        notification.innerHTML = text;
        if(type === "error") {
            alert.className = "alert alert-danger";
        } else if(type === "success") {
            alert.className = "alert alert-success";
        }

        $("#alert-" + target).show().delay(5000).fadeOut();
    }
</script>
@footer-admin;