@header;
<div>


    @session.success?
    <div class="alert alert-success">
        @session.(success)
    </div>
    @session?
    <br><br>
    @session.error?
    <div class="alert alert-danger">
        @session.(error)
    </div>
    @session?
    <br>
    <br>
    @session.warning?
    <div class="alert alert-danger">
        @session.(warning)
    </div>
    @session?

    @session.(warning)

    {bootstrap_css}<br>
    {main_css} <br>
    {var1} <br>
    {var2}<br>

    @foreach.(array_data2)
    <b>this is key2: @key</b><br>
    <b>this is value21: @value.(bla)</b>
    <b>this is value22: @value.(blu)</b><br><br>
    @endforeach
    <br>

    <b>{bootstrap_css}</b><br>
    {main_css} <br><br>

    @foreach.(array_data)
    <b>this is key: @key</b><br>
    <b>this is value: @value</b><br><br>
    @endforeach
    <br>

    <b>{bootstrap_css}</b><br>
    {main_css} <br>
    {bootstrap_js}<br><br>
</div>
@footer-admin;