@header-admin;
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        @include.(navigation)
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10">
        <div class="row">
            <div class="col-md-11 col-lg-11 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">Add Translation</div>
                    <div class="form-group">
                        <div style="height: 50px;">
                            <div id="alert-add" class="notification" style="display: none">
                                <div id="notification-add"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="add-tag">
                            <option value="" disabled selected>Select local</option>
                            @foreach.(available_locals)
                            <option value="@value.(tag)">@value.(tag)</option>
                            @endforeach
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add-key" placeholder="Key">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add-translation" placeholder="Translation">
                    </div>
                    <div class="form-group content-footer">
                        <button type="button" class="login-button" id="add-button">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-lg-11 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">Edit Translation</div>
                    <div class="form-group">
                        <div style="height: 50px;">
                            <div id="alert-edit" class="notification" style="display: none">
                                <div id="notification-edit"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="edit-tag">
                            <option value="" disabled selected>Select local</option>
                            @foreach.(available_locals)
                            <option value="@value.(tag)">@value.(tag)</option>
                            @endforeach
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="edit-key">
                            <option value="" disabled selected>Select key</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="edit-translation" placeholder="Add translation">
                    </div>
                    <div class="form-group content-footer">
                        <button type="button" class="login-button" id="edit-button">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-lg-11 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">Remove Translation</div>
                    <div class="form-group">
                        <div style="height: 50px;">
                            <div id="alert-remove" class="notification" style="display: none">
                                <div id="notification-remove"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="remove-tag">
                            <option value="" disabled selected>Select local</option>
                            @foreach.(available_locals)
                            <option value="@value.(tag)">@value.(tag)</option>
                            @endforeach
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="remove-key">
                            <option value="" disabled selected>Select key to remove</option>
                        </select>
                    </div>
                    <div class="form-group content-footer">
                        <button type="button" class="login-button" id="remove-button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/translation.js"></script>
@footer-admin;