<div id="disclaimer-cookie" class="cookie-disclaimer" style="display: none">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-lg-7 offset-lg-1 offset-md-1" style="margin-top: 5px;">
            This site uses cookies to enhance your experience!
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <div class="buttons">
                <button type="button" class="btn btn-outline-secondary" onclick="acceptCookies(2)">Accept necessary</button>
                <button type="button" class="btn btn-outline-secondary" onclick="acceptCookies(1)">Accept</button>
                <button type="button" class="btn btn-outline-secondary" onclick="acceptCookies(3)">Decline</button>
            </div>
        </div>
    </div>
</div>
<script>
    const cookieDisclaimer = document.getElementById("disclaimer-cookie");

    window.addEventListener("load", () => disclaimerShow());

    function disclaimerShow() {
        getAjax("/views/auth/cookiedisclaimerenabled.php", doDisclaimerShow)
    }

    function doDisclaimerShow(data) {
        if(parseInt(data.enabled) === 1 && checkCookie("cookies_ok") === false) {
            cookieDisclaimer.style.display = "block";
        }
    }

    function acceptCookies(action) {
        if(action === 3) {
            getAjax("/views/auth/cookiedisclaimerredirecturl.php", redirectOnDecline);
        } else {
            const formData = new FormData;
            formData.append("action", action);
            postAjax("/views/auth/cookiedisclaimeraction.php", formData, postAcceptCookies);
        }
    }

    function postAcceptCookies(data) {
        console.log(data);
        if(data.error === 1) {
            console.error(data.message)
        } else {
            cookieDisclaimer.style.display = "none";
        }
    }

    function redirectOnDecline(data) {
        location.replace(data.redirect);
    }

    function getCookie(cName) {
        const name = cName + "=";
        const cookies = decodeURIComponent(document.cookie);
        const cookieArray = cookies.split(";");
        for(let i = 0; i < cookieArray.length; i++) {
            const c = cookieArray[i].trim();
            if(c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }

        return "";
    }

    function checkCookie(cName) {
        const cookie = getCookie(cName);
        if(cookie !== "") {
            return true
        }

        return false;
    }
</script>