<div class="nav-custom">
    <ul>
        <li><a href="{base_url}views/adm/home.php">Home</a></li>
        <li><a href="{base_url}views/adm/insert.php">Add Words</a></li>
        <li><a href="{base_url}views/adm/modify.php">Update/Remove Words</a></li>
        <li><a href="{base_url}views/adm/managelanguages.php">Manage Languages</a></li>
        <li><a href="{base_url}views/adm/addAdmin.php">Add Admin Account</a></li>
        <li><a href="{base_url}views/auth/logout.php">Logout</a></li>
    </ul>
</div>
