<div id="side-nav" class="nav-custom">
    <ul>
        <li><a href="{base_url}views/documentation.php">Documentation</a></li>
        <li><a href="{base_url}views/api/app.php">Apps</a></li>
        @role.true.admin?
            <li><a href="{base_url}views/adm/insert.php">Admin</a></li>
        @role?
        @auth.true.?
            <li><a href="{base_url}views/auth/logout.php">Logout</a></li>
        @else
            <li><a href="{base_url}views/auth/login.php">Login</a></li>
            <li><a href="{base_url}views/auth/register.php">Register</a></li>
        @auth?
    </ul>
</div>