@header;
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        @include.(navigationWeb)
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10">
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">Create new App</div>
                    <div class="form-group">
                        <div class="alert-custom">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    @session.success?
                                    <div class="alert alert-success">
                                        @session.(success)
                                    </div>
                                    @session?
                                    @session.error?
                                    <div class="alert alert-danger">
                                        @session.(error)
                                    </div>
                                    @session?
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="{base_url}views/api/addapp.php" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="app-name" placeholder="App Name">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-outline-secondary" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @foreach.(apps)
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">@value.(name)</div>
                    <div class="form-group">
                        <div style="height: 50px;">
                            <div id="alert-regenerate-@value.(id)" class="notification" style="display: none">
                                <div id="notification-regenerate-@value.(id)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-9 col-lg-9 col-sm-12">
                                <div id="@value.(id)" class="files-box">Access token:&#32;@value.(access_token)</div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12">
                                <button type="button" class="btn btn-outline-secondary" id="regenerate-button-@value.(id)" onclick="regenerateAccessToken(this.id)">Regenerate</button>
                            </div>
                        </div>
                    </div>
                    <div class="row", style="margin-left: 1px;">
                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="row files-box">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    Rate Limit
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    @value.(rate_limit)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="row files-box">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    Requests spent
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    @value.(requests_spent)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="row files-box">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    Limit Reached
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    @value.(limit_reached)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group content-footer">
                        <button type="button" class="login-button" id="remove-button-@value.(id)" onclick="deleteApp(this.id)">Delete app</button>
                    </div>
                </div>
            </div>
        </div>
        @endforeach
    </div>
</div>
<script src="{base_url}js/app.js"></script>
@footer;