@header-admin;
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        @include.(navigationWeb)
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10">
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">{about_title}</div>
                    <pre>{about}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">{info_params_title}</div>
                    <pre>{info_params}</pre>
                    @foreach.(parameters)
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <p class="example-box">{@value.(label)}</p>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-9">
                            <p class="example-box">{@value.(content)}</p>
                        </div>
                    </div>
                    @endforeach
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">{info_statuses_title}</div>
                    <pre>{info_statuses}</pre>
                    @foreach.(statuses)
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <p class="example-box">{@value.(label)}</p>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-9">
                            <p class="example-box">{@value.(content)}</p>
                        </div>
                    </div>
                    @endforeach
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">{rate_limit_title}</div>
                    {info_rate_limit}
                    @foreach.(limit_headers)
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">
                            <p class="example-box">{@value.(label)}</p>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-9">
                            <p class="example-box">{@value.(content)}</p>
                        </div>
                    </div>
                    @endforeach
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">{example_info_title}</div>
                    <pre>{example_info}</pre>
                    <div class="example-box">
                        <pre>{example_header}</pre>
                    </div>
                    <br>
                    <div class="example-box">
                        <pre>{example_request}</pre>
                    </div>
                    <br>
                    <div class="example-box">
                        <pre>{example_response}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-11">
                <div class="content-wrapper">
                    <div class="content-title">{try_info_title}</div>
                    <pre>{try_info}</pre>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-md-12">
                            <div class="form-group">
                                <div class="example-box" id="try-header"></div>
                            </div>
                            <div class="form-group">
                                <div class="example-box" id="try-url"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="token" placeholder="Access token">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="tag" placeholder="Language">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="min-length" placeholder="Min word length" min="0">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="max-length" placeholder="Max word length" min="0">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="words-num" placeholder="Number of words" min="0">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-lg btn-outline-secondary" id="try-button">Send request</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <div class="example-box" style="min-height: 300px;"><pre id="try-response"></pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{base_url}js/documentation.js"></script>
@footer;